#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.cardBorder{
  width: 25rem;
}

#cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.card-img-top{
  height: 200px;
}

.card-title{
  font-weight: bold;
}

#homePageContainer{
  margin: 150px;
}

#shoppingCartContainer{
  display: flex;
  flex-direction: column;
  margin: 150px;
}

#cardButtonContainer{
  display: flex;
  justify-content: space-evenly;
}

.mainListItem a{
  color: black;
  text-decoration: none
}